.navbar-toggler[b-rc2sv3ynay] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rc2sv3ynay] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rc2sv3ynay] {
    font-size: 1.1rem;
}

.profileButton[b-rc2sv3ynay] {
    border: none;
}

.navSearchItem[b-rc2sv3ynay]{
    margin-left: 10rem;
}

form[b-rc2sv3ynay]{
    width: 25rem;
    padding-right: 2rem;
    position: relative;
}

input#query[b-rc2sv3ynay]{
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
}

button[b-rc2sv3ynay]{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    right: 0;
    position: absolute;
}

.backGroundColorNavBar[b-rc2sv3ynay]{
    background-color: #262324;
}

.searchBar[b-rc2sv3ynay]{
    align-items: center;
}
.WhiteText[b-rc2sv3ynay]{
    color: white !important;
}

.menuIcon[b-rc2sv3ynay]{
    margin-left: 0.5rem;
}

.nav-item[b-rc2sv3ynay] {
    font-size: 0.9rem;
    
}

    .nav-item[b-rc2sv3ynay]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rc2sv3ynay]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rc2sv3ynay]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rc2sv3ynay] {
        display: none;
    }

    .collapse[b-rc2sv3ynay] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
