@page "/Top200Directors"
@using System.Collections
@using MovieBioApp.Data
@using MovieBioApp.Data.PeopleService
@using MovieBioApp.Data.TMDBAPI
@using MovieBioApp.Models
@using MovieBioApp.Models.ClassesToReadJson

@inject IPeopleService People;
@if (top20Directors == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
else
{
<div class="container paddingRemove">
    <div class="row">
        <div class="col-md-12">
            <h3>Top 200 Directors</h3>
        </div>
        
    </div>
    <div class="row rowStyle">
            <div class="col-md-4">Name</div>
            <div class="col-md-2">Rating</div>
            <div class="col-md-2">Date of birth</div>
            <div class="col-md-2">Known For</div>
            <div class="col-md-2">Picture</div>
        </div>

    @foreach (Director director in top20Directors)
        {
            <div class="row rowBorder">
                <div class="col-md-4">
                    <div>@director.name</div>
                </div>

                <div class="col-md-2">
                    <div>@director.rating</div>
                </div>

                <div class="col-md-2">
                    <div>@director.age</div>
                </div>

                <div class="col-md-2">
                <div><img src="https://image.tmdb.org/t/p/original/@tmdbapiObj[director.id].results[0].known_for[0].poster_path" alt="No image for this movie" width="100%"></div>
                </div>

                <div class="col-md-2">
                    <div><img src="@tmdbapiObj[director.id].results[0].profile_path" alt="No image for this Director" width="100%"></div>
                </div>
            </div>
        }
</div>
}


@code {
    string username = "test";
    List<Director> top200Directors;
    List<Director> top20Directors;
    ITMDBAPI TMDBAPI = new TMDBAPI();
    Dictionary<int, Result> tmdbapiObj;
    IPeopleService peopleService;
    int amount = 0;
    protected override async Task OnInitializedAsync()
    {
        top200Directors = new List<Director>();
        peopleService = new PeopleService();
        tmdbapiObj = new Dictionary<int, Result>();
        top200Directors = await peopleService.GetTop20Directors();
        top20Directors = new List<Director>();
        
        foreach (Director director in top200Directors)
        {
            //if (amount % 10 == 0)
            {
                tmdbapiObj.Add(director.id, await TMDBAPI.GetPersonById(director.name));
                top20Directors.Add(director);
    //HUSK AT LAVE ET VIEW I DATABASEN SÅDAN AT DU IKKE BEHØVER AT KALDE APIEN 200 GANGE
            }
            amount++;
        }
        

    }    
    
}