@import '';

/* _content/MovieBioApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-xmchgr6ddy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-xmchgr6ddy] {
    flex: 1;
}


.top-row[b-xmchgr6ddy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xmchgr6ddy]  a, .top-row .btn-link[b-xmchgr6ddy] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-xmchgr6ddy] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-xmchgr6ddy] {
        display: none;
    }

    .top-row.auth[b-xmchgr6ddy] {
        justify-content: space-between;
    }

    .top-row a[b-xmchgr6ddy], .top-row .btn-link[b-xmchgr6ddy] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xmchgr6ddy] {
        flex-direction: row;
    }
    

    .top-row[b-xmchgr6ddy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-xmchgr6ddy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MovieBioApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rc2sv3ynay] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rc2sv3ynay] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rc2sv3ynay] {
    font-size: 1.1rem;
}

.profileButton[b-rc2sv3ynay] {
    border: none;
}

.navSearchItem[b-rc2sv3ynay]{
    margin-left: 10rem;
}

form[b-rc2sv3ynay]{
    width: 25rem;
    padding-right: 2rem;
    position: relative;
}

input#query[b-rc2sv3ynay]{
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
}

button[b-rc2sv3ynay]{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    right: 0;
    position: absolute;
}

.backGroundColorNavBar[b-rc2sv3ynay]{
    background-color: #262324;
}

.searchBar[b-rc2sv3ynay]{
    align-items: center;
}
.WhiteText[b-rc2sv3ynay]{
    color: white !important;
}

.menuIcon[b-rc2sv3ynay]{
    margin-left: 0.5rem;
}

.nav-item[b-rc2sv3ynay] {
    font-size: 0.9rem;
    
}

    .nav-item[b-rc2sv3ynay]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rc2sv3ynay]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rc2sv3ynay]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rc2sv3ynay] {
        display: none;
    }

    .collapse[b-rc2sv3ynay] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
