@page "/Footer"
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm">
              <p>About Us</p>
              <br>
                        <p>Contact Us</p>
                        <p>Email: blabla</p>
                        <p>Phone: blabla</p>
                        <p>Address: No</p>
          </div>
          <div class="col-sm">
                <p>Movies picked by us</p>
                        <p>Movie 1</p>
                        <p>Movie 2</p>
                        <p>Movie 3</p>
                        <p>Movie 4</p>
                        <p>Movie 5</p>
          </div>
      </div>
  </div>
</div>













@code {
    
}